{{- $section6   := .Site.Params.section6 }}
{{- if eq $section6 true }}
{{- $section5 = dict "_" "_" }}
{{- end }}
{{- $title      := index $section6 "title" | default "Drop us a line or two "}}
{{- $subtitle   := index $section6 "subtitle" | default "We'd love to hear from you" }}
{{- $action     := index $section6 "action" }}
{{- $method     := index $section6 "method" }}
{{- $buttonText := index $section6 "buttontext" | default "Send Message" }}
<section class="section section-light-grey is-medium" id="section6">
  <div class="container">
    <div class="title-wrapper has-text-centered">
      <h2 class="title is-2 is-spaced">{{ $title }}</h2>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider is-centered"></div>
    </div>

    <div class="content-wrapper">
      <div class="columns">
        <div class="column is-6 is-offset-3">
          <form{{ with $action }} action="{{ . }}"{{end}}{{ with $method }} method="{{ . }}"{{end}}>
            <div class="columns is-multiline">
              <div class="column is-6">
                <label for="start-date">Data di inizio</label>
                <input class="input is-medium" name="start-date" type="date" id="start-date" placeholder="Seleziona la data di inizio">
              </div>              <div class="column is-6">
                <label>Frequenza</label>
                <div>
                  <label class="radio">
                  <input type="radio" name="frequency" value="giornaliero">
                  Giornaliero
                  </label>
                  <label class="radio">
                  <input type="radio" name="frequency" value="settimanale">
                  Settimanale
                  </label>
                  <label class="radio">
                  <input type="radio" name="frequency" value="mensile">
                  Mensile
                  </label>
                </div>
              </div> 
              <div class="column is-6">
                <input class="input is-medium" name="name" type="text" placeholder="Nome">
              </div>
              <div class="column is-6">
                <input class="input is-medium" name="phone" type="phone" placeholder="Un telefono per richiamarti">
              </div>
              <div class="column is-12">
                <textarea class="textarea" name="message" rows="2" placeholder="Commenti o richieste"></textarea>
              </div>
              <div class="form-footer has-text-centered mt-10">
                <button class="button cta is-large primary-btn raised is-clear">{{ $buttonText }}</button>
              </div>
            </div>
          </form>
            <p class="has-text-centered mt-5">
            Oppure se preferisci <a href="tel:3294967991">chiamaci al 3294967991</a>
            </p></p>
        </div>
      </div>
    </div>
  </div>
</section>